{% extends 'index.html' %}

{% block main_content %}


<h1>Backlash uitkomst</h1>

<div class="container">

    <div class="row my-5">
        <div class="col my-3">
            <div class="card" style="width: 20rem;">
                <div class="card-header">
                    Voorkant
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Meting = {{meting}}</li>
                    <li class="list-group-item">Load = {{load}}</li>
                </ul>
            </div>

        </div>
        <div class="col my-3">
            <div class="card" style="width: 20rem;">
                <div class="card-header">
                    Achterkant(voorlopig)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Meting = {{backlash_values}}</li>
                    <li class="list-group-item" style="background-color: #479f76;">Goede waardes = {{good_values}}</li>
                    <li class="list-group-item" style="background-color: #ffcd39;">Bijna goede waardes = {{medium_values}}</li>
                    <li class="list-group-item" style="background-color: #e35d6a;">Slechte waardes = {{bad_values}}</li>
                    <li class="list-group-item">Conclusie = {{solution_backlash}}</li>
                </ul>
            </div>

        </div>
    </div>
</div>


{% endblock %}