{% extends 'index.html' %}

{% block main_content %}


<h1>Backlash</h1>

<form method="post" name="calculate_backlash">

    <div class="container">

        <div class="row my-5">
            <div class="col-2">
                <label for="input_voorkant" class="form-label">Voorkant</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="input_voorkant" name="input_voorkant"
                    >
            </div>
        </div>



        <div class="row my-5">
            <div class="col-2">
            <label for="input_achterkant" class="form-label">Achterkant</label>

            </div>
            <div class="col">
            <input type="text" class="form-control" id="input_achterkant1" name="input_achterkant1"
                >
            </div>
            <div class="col">
            <input type="text" class="form-control" id="input_achterkant2" name="input_achterkant2"
                >
            </div>
            <div class="col">
            <input type="text" class="form-control" id="input_achterkant3" name="input_achterkant3"
                >
            </div>
            <div class="col">
            <input type="text" class="form-control" id="input_achterkant4" name="input_achterkant4"
                >
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Bereken</button>
    </div>




</form>





{% endblock %}