{% extends 'index.html' %}

{% block main_content %}


<h1>Backlash uitkomst</h1>

<h2>Voorkant/ Pinion</h2>
<p>De meting was: {{meting}}</p>
<p>De load is: {{load}}</p>

<h2>Achterkant/ Backlash(development)</h2>
<p>De backlash metingen waren: {{backlash_values}}</p>
<p>Dit zijn goede waardes: {{good_values}}</p>
<p>Dit zijn bijna goede waardes: {{medium_values}}</p>
<p>Dit zijn slechte waardes: {{bad_values}}</p>

<h3>Ofwel moeten de 4 waardes goed zijn. Ofwel moeten er 3 goede en 1 bijna goede waardes zijn.</h3>
<p>Meer als 1 bijna goede waarde of meer als 0 slechte waardes? Goed of slecht?: {{solution_backlash}}</p>


{% endblock %}